<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>Options</h1>
        </div>
        <div class="panel-body">
            <div class="col-xs-3">
                <label for="numOfDropColumns" class="label label-default">number of dropable columns:</label>
                <input id="numOfDropColumns" class="form-control" type="number" ng-model="structure.dropAreasCount" />
            </div>
            <div class="col-xs-9">
                <label for="json" class="label label-default">paste JSON here:</label>
                <textarea id="json" class="form-control" ng-model="json"></textarea>
                <div class="btn btn-primary" ng-click="getJson()">Get JSON</div>
                <div class="btn btn-primary" ng-click="updateFromJson()">Update from pasted JSON</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <h2>elements</h2>
        <div class="panel panel-warning" ui-sortable="sortableOptions" ng-model="structure.unallocated">
            <div class="btn btn-block btn-danger" ng-repeat="elem in structure.unallocated">{{ elem.title }}</div>
            <h3 class="panel panel-danger" ng-if="structure.unallocated.length===0">
                no elements here
            </h3>
        </div>
    </div>
    <div class="col-xs-2" ng-repeat="col in structure.columns">
        <h2>area {{ $index + 1 }}</h2>
        <div class="thumbnail droppable-area" ui-sortable="sortableOptions" ng-model="col">
            <div class="btn btn-block btn-info" ng-repeat="elem in col">{{ elem.title }}</div>
            <h3 ng-if="col.length===0">
                no elements here
            </h3>
        </div>
    </div>
    <div class="col-xs-4" ng-if="structure.columns.length===0">
        <h2>dropable area</h2>
        <h3 class="panel panel-info">
            no areas here
        </h3>
    </div>
    <div class="col-xs-2">
    </div>
</div>